*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin:0 auto;
    width:100%;
    height: auto;
    background-color: rgb(13, 28, 33);
}
.header {
    justify-content:right;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    background-color: rgb(13, 28, 33);
}
.footer {
    width:100%;
    height: 40pt;
    background-color: rgb(13, 28, 33);
}
.ft{
    margin-right: 20pt;
    line-height: 40pt;
    text-align:right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(189, 206, 213);
}
.l1{
    width: 100%;
    height: 60px;
    display:flex;
    justify-content:space-around;
}
.l2{
    cursor:default;
    padding-top: 0px;
    display: none;
}
.l1 li:hover ul{
    display:block;
}
.l2 li{
    margin-bottom:0px;
}
.header li{
    z-index:2;
    transition:all 0.5s ease 0s;
    cursor:pointer;
    user-select:none;
    text-align:center;
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(247, 255, 252);
    line-height:60px;
    width: 150px;
    list-style-type:none;
    position: relative;
    display: inline-block;
    background-color: rgb(13, 28, 33);
}
.header li:hover{
    background-color:rgb(31, 89, 97);
}
.block1 {
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
.bl{
    width:5%;
    height: auto;
    background-color: rgb(13, 28, 33);
}
.im{
    width:100%;
    height: 50px;
    background-image: url("podcast.jpg");
    background-size:  30%;
    background-position:center;
    background-color: rgb(31, 89, 97);
    background-blend-mode: multiply;
}

.block2{
    justify-content:right;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: auto;
    transition: all 5s ease 0s;

}
.block2_t{

    width: 33.3%; 
    background-color: rgb(13, 28, 33);
    height: 460px;
    
}
.block2_t p{
    margin: 20px;
    color:rgb(148, 182, 182);
    font-size: 19px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}
.htext{
    margin-bottom: 20pt;
    text-transform: uppercase;
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(31, 89, 97);
    line-height: 20px;
    user-select: none;
}
.textup{
    text-transform: uppercase;
    user-select: none;
    text-align: right;
    font-weight: 700;
    font-size: 56px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(189, 206, 213);
    margin-right: 20px;
    margin-top: 40px;
}

  

.block2_img{
    margin: auto;
    width: 350px;
    height: 350px;
    position: relative;
  }
  .block2_img img{
    margin-top: 15px;
    width: 100%;
    height: 100%;
  }
  .block2_img .prewive{
    margin-top: 15px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
  }
  .block2_img:hover .prewive{
    display: block;
    background-color: rgba(31, 89, 97, 0.936);
    background-blend-mode: multiply;
    cursor: pointer;
  }

  .block2_img p{
    margin: 20px;
    color:rgb(191, 232, 232);
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:justify;
}
@media screen and (max-width: 1100px) {
    .textup{
        font-size: 48px;
    }
    .block2_t{

        width: 50%; 
        height: 430px;
        
    }
    .block2_t p{
        font-size: 17px;
    }
}
@media screen and (max-width: 850px) {
    .textup{
        font-size: 40px;
    }
    .im{
        height: 50px;
    }
    .block2_t{
        height: 330px;  
    }
    .block2_img{
        margin: auto;
        width: 280px;
        height: 280px;
      }
      .block2_img p{
        margin: 5px;
        font-size: 14px;
    }
    .block2_t p{
        font-size: 16px;
    }

}
@media screen and (max-width: 600px){
    .im{
        height: 40px;
    }
    .block2_t{
        height: 290px;  
    }
    .block2_img{
        margin: auto;
        width: 250px;
        height: 250px;
      }
      .block2_img p{
        margin: 3px;
        font-size: 14px;
    }
}
@media screen and (max-width: 530px) {
    .header li{
        font-size: 12px;
    }
    .im{
        height: 30px;
    }
    .textup{
        font-size: 28px;
        margin-top: 20px;
        margin-right: 15px;
    }
    .block2_t{
        width: 100%;  
    }
      .block2_img p{
        margin: 3px;
        font-size: 10px;
    }
    .block2_t p{
        font-size: 14px;
    }
    .ft{
        font-size: 12px;
    }
}