*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin:0 auto;
    width:100%;
    height: auto;
    background-color:rgb(13, 28, 33);
}
.header {
    justify-content:right;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    background-color: rgb(13, 28, 33);
}
.footer {
    width:100%;
    height: 40pt;
    background-color: rgb(13, 28, 33);
}
.ft{
    margin-right: 20pt;
    line-height: 40pt;
    text-align:right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(189, 206, 213);
}
.l1{
    width: 100%;
    height: 60px;
    display:flex;
    justify-content:space-around;
}
.l2{
    cursor:default;
    padding-top: 0px;
    display: none;
}
.l1 li:hover ul{
    display:block;
}
.l2 li{
    margin-bottom:0px;
}
.header li{
    z-index: 3;
    transition:all 0.5s ease 0s;
    cursor:pointer;
    user-select:none;
    text-align:center;
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(247, 255, 252);
    line-height:60px;
    width: 150px;
    list-style-type:none;
    position: relative;
    display: inline-block;
    background-color: rgb(13, 28, 33);
}
.header li:hover{
    background-color:rgb(31, 89, 97);
}
.block1 {
    justify-content:right;
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
.bl{
    width:5%;
    height: auto;
    background-color: rgb(13, 28, 33);
}
.im{
    width:90%;
    height: 250px;
    background-image: url("rec_main.jpg");
    background-size:  20%;
    background-position:center;
    background-color: rgb(31, 89, 97);
    background-blend-mode: multiply;
}
.block2{
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: auto;
}
.block2_t{
    width: 45%; 
    background-color: rgb(240, 244, 247);
    height: auto;
    
}
.block2_t p{
    margin: 20px 20px 10px 20px;
    color:rgb(32, 35, 36);
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:justify;
}
.block2_t2{
    width: 90%;
    background-color: rgb(240, 244, 247);
    height: auto;
    
}
.block2_t2 p{
    margin: 10px 20px 10px 20px;
    color:rgb(32, 35, 36);
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:justify;
}
.htext{
    margin-bottom: 20pt;
    text-transform: uppercase;
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(31, 89, 97);
    line-height: 20px;
    user-select: none;
}
.textup{
    text-transform: uppercase;
    user-select: none;
    text-align: right;
    font-weight: 700;
    font-size: 56px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(189, 206, 213);
    margin-right: 20px;
    margin-top: 40px;
}

.block_slid{
    display: grid;
    width: 45%;
    height: auto;
    place-items: center;
    background-color: rgb(240, 244, 247) ;
}
.wrapper{
    position: relative;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    overflow: hidden;
}
.wrapper .images{
    height: 100%;
    width: 100%;
    display: flex;

}
.wrapper .images .img-1{
    height: 100%;
    width: 100%;
    background: url(sc2.jpeg) no-repeat;
    border: 2px solid #fff;
    background-size: 400px 400px;
}
.wrapper .images .img-2{
    position: absolute;
    height: 100%;
    width: 50%;
    background: url(sc1.jpeg) no-repeat;
    border: 2px solid #fff;
    background-size: 400px 400px;
}
.wrapper .slider{
    position: absolute;
    top:0;
    width: 100%;
    z-index: 2;
}
.wrapper .slider input{
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;

}
.slider input::-webkit-slider-thumb{
    height: 396px;
    width: 3px;
    background: #fff;
    -webkit-appearance: none;
    cursor: col-resize;
}
.slider .drag-line{
    width: 3px;
    height: 396px;
    position: absolute;
    background: #fff;
    left:49.85%;
    pointer-events: none;
    
}
.slider .drag-line::before,
.slider .drag-line::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 177px;
    background: #fff;
}
.slider .drag-line::before{
    top: 0;
}
.slider .drag-line::after{
    bottom: 0;
}
.slider .drag-line span{
    height: 42px;
    width: 42px;
    border: 2px solid  #ffffff;
    position: absolute;
    top: 50%;
    left:50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.slider .drag-line span::before,
.slider .drag-line span::after{
    position: absolute;
    content: "";
    top:50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%,-50%) rotate(45deg);
}
.slider .drag-line span::before{
    left: 40%;
    border-left-color: #fff; 
}
.slider .drag-line span::after{
    left: 60%;
    border-top-color: #fff; 
}
@media screen and (max-width: 1100px) {
    .textup{
        font-size: 48px;
    }
    .block_slid{
        width: 90%;
    }
    .block2_t{
        width: 90%;
    }
    .wrapper{
        height: 500px;
        width: 500px;
    }

    .wrapper .images .img-1{
        background-size: 500px 500px;
    }
    .wrapper .images .img-2{
        background-size: 500px 500px;
    }
    .slider input::-webkit-slider-thumb{
        height: 496px;
    }
    .slider .drag-line{
        height: 496px;
    }
    .slider .drag-line::before,
    .slider .drag-line::after{
        height: 223px;
    }
    
}

@media screen and (max-width: 850px) {
    .textup{
        font-size: 40px;
    }
    .im{
        height: 200px;
    }
}
@media screen and (max-width: 700px) {
    .header li{
        font-size: 12px;
    }
    .im{
        height: 120px;
    }
    .textup{
        font-size: 28px;
        margin-top: 20px;
        margin-right: 15px;
    }
    .ft{
        font-size: 12px;
    }
}
@media screen and (max-width: 500px){

    .wrapper{
        height: 300px;
        width: 300px;
    }

    .wrapper .images .img-1{
        background-size: 300px 300px;
    }
    .wrapper .images .img-2{
        background-size: 300px 300px;
    }
    .slider input::-webkit-slider-thumb{
        height: 296px;
    }
    .slider .drag-line{
        height: 296px;
    }
    .slider .drag-line::before,
    .slider .drag-line::after{
        height: 123px;
    }
}
